@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: aileron;
    src: url(fontes/aileron/Aileron-SemiBoldItalic.otf) format('OpenType');
}
@font-face {
    font-family: ethnocen;
    src: url(fontes/ETHNOCEN.TTF) format('TrueType');
}
@font-face {
    font-family: Decorativa;
    src: url(fontes/Bungee-Inline.otf) format('TrueType');
}
@font-face {
    font-family: qelrage;
    src: url(fontes/Qelrage.otf) format('OpenType');
}
:root {
    --font1: 'aileron';
    --font2:'ethnocen';
    --font3: 'Decorativa';
    --font4: 'qelrage';

    --cor1: hsla(89, 48%, 78%, 0.575);
    --cor2: #C6F24F;
    --cor3: #78A04E;
    --cor4: #d2f66f;
    --cor5: #EBCED8;

    --cor6: #FA96A4;
    --cor7: #DBBFF2;
}
html {
    background-color: rgba(173, 216, 230, 0.247);
  
}
body {
    height: fit-content;
    width: 80%;
    margin: auto;
    box-shadow: 0 0 15px;
    border-radius: 4px;
}
#stones {
    position: absolute;
    z-index: -1;
    width: 360px;
    height: 476px;
}
#menulateral {
    position: relative; 
    float: right;
    background-color: transparent;
    border-color: transparent;
    margin-right: 15px;
    font-size: 2.3rem;
    font-weight: bold;
    color: var(--cor5); 
    cursor: pointer;
}
#fecharbotao { 
    position: relative;
    float: right;
    background-color: transparent; 
    border-color: transparent;
    margin-right: 16px;
    margin-left: 0.2rem;
    top: 6px;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--cor5);
    cursor: pointer;
}
#menu { 
    display: none;
    position: relative;
}
.lista_escolha {
    position: absolute;
    right: 3rem;
    top: 0.7rem;
    width: max-content;
    font-family: var(--font1);
    font-size: 1.2rem;
    list-style-type: none;
    background-color: rgba(43, 46, 46, 0.479);
    padding: 0.6em;
    border-radius: 7px;
    box-shadow: inset 0 0 10px rgba(102, 178, 226, 0.658);
}
.lista_escolha li {
    padding-bottom: 8px;
}
.lista_escolha a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.logo {
    width: 100px;
    position: absolute;
    float: left;
    transform: translate(1rem, 1.7rem);
}
main {
    background-image: url(imagens/stones-1372677_1280.jpg);
    background-position: center center; 
    background-size: cover;
    height: fit-content;
    margin-top: 5px;
    border-radius: 5px 5px 0 0;
}
h1 {
    height: 2.5rem;
    color:hsl(182, 83%, 55%);
    background-color: rgba(0, 0, 0, 0.178);
    font-family: var(--font2);
    text-align: center;
    padding-top: 1.7rem;
    padding-bottom: 3rem;
    font-size: 2em;
    z-index: 4;
}
header h2 {
    font-size: 1.3rem;
    color: rgb(60, 63, 32);
    background-color: var(--cor1);
    font-family: var(--font2);
    padding: 17px 0;
    text-align: center;
}
.s1 {
    position: relative;
    height: 365.81px;
}
.bloco1 {
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    grid-template-columns: repeat(2,1fr);
    align-content: space-around;
    border-radius: 10px;
    background-color: #1e1f0e6b;
    width: 80%;
    max-width: 800px;
    height: 80%;
    transform: translate(-50%, -50%);
}
.d1 {
    display: flex;
    justify-content: end;
    padding-right: 0.8rem;
}
.d1 p {
    font-family: var(--font1);
    text-align: end;
    color: beige;
    margin: 0 10px;
}
.d1 img {
    cursor: pointer;
}
.d2 {
    display: flex;
    justify-content: start;
    padding-left: 0.8rem;
}
.d2 p {
    font-family: var(--font1);
    color: beige;
    margin: 0 8px;
}
.d2 img {
    cursor: pointer;
}
.bloco1 img {
    max-width: 50px;
}
.ac1 {
    background-color: hsla(89, 48%, 78%, 0.808);
    width: 100%;
    height: 25px;
    text-align: center;
    color: hsl(188, 33%, 19%);
    font-family: var(--font2);
    font-size: 1.2rem;
    padding: 14px 0;
}
.aviso {
    display: none;
    font-family: var(--font3);
    font-size: 1.1rem;
    position: absolute;
    height: 220px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    text-align: center;
    padding: 10px 10px;
    width: 52%;
    max-width: 390px;
    background-color: hsla(323, 30%, 80%, 0.837);
    box-shadow:  0 0 700px rgb(0, 0, 0);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.aviso img {
    position: relative;
    top: -1.4em;
    width: 130px;
}
.aviso p {
    padding: 1px;
}
.aviso strong {
    color: hsl(61, 100%, 51%);
}
.avisozap {
    display: none;
    font-family: var(--font2);
    font-size: 1.2rem;
    position: absolute;
    height: 220px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    text-align: center;
    padding: 23px 10px 10px;
    width: 52%;
    max-width: 390px;
    background-color: hsla(110, 60%, 59%, 0.877);
    box-shadow:  0 0 700px rgb(0, 0, 0);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.avisozap img {
    position: absolute;
    top: 5em;
    left: 32%;
    width: 150px;
}
.parte2 {
    width: 100%;
    height: 466px;
    background-image:  url(imagens/telacomp.png);
    background-position: left center;
    background-size: cover;
}
.voce {
    width: fit-content;
    font-family: var(--font4);
    font-size: 3rem;
    color: var(--cor4);
    position: relative;
    top: 2em;
    left: 0.3em;
    animation: chegar 6s  infinite ;
}
.rapido {
    width: fit-content;
    font-family: var(--font4);
    font-size: 2.3rem;
    position: relative;
    color: var(--cor7);
    top: 3em;
    left: 2em;
    animation: aparecerrapido 6s infinite;
}
.facil {
    width: fit-content;
    font-family: var(--font4);
    font-size: 2.8em;
    position: relative;
    color: var(--cor2);
    top: 2.1em;
    left: 3em;
    animation: aparecerfacil 6s infinite;
}
.sem {
    width: fit-content;
    font-family: var(--font4);
    font-size: 3em;
    position: relative;
    color: var(--cor5);
    top: 1.8em;
    left: 1em;
    animation: chegarsem 6s infinite;
}
.parte3 {
    width: 100%;
    height: 460px;
    background-image:  url(imagens/Design\ sem\ nome.png);
    background-position: left center;
    background-size: cover;
    margin-top: 5px;
}
.em {
    font-family: var(--font4);
    font-size: 2.5em;
    position: relative;
    color: var(--cor2);
    float: right;
    right: 0.3em;
    top: 6.7em;
}
.lugar {
    font-family: var(--font4);
    font-size: 3em;
    position: relative;
    color: var(--cor7);
    float: right;
    right: -3.5em;
    top: 7em;
}
.pedido_conteiner {
    width: 100%;
    height: 34px;
    margin-top: 5px;
    background: linear-gradient( rgba(255, 182, 193, 0.685) 5%, rgb(85, 82, 82) 90%) ;
}
.pedido {
    display: block;
    position: relative;
    top: 2px;
    margin: auto;
    height: 30px;
    width: 350px;
    padding-top: 2px;
    color: #af0cafc4;
    background-color: #C6F24F;
    border-radius: 5px;
    border: ridge var(--cor2);
    font-family: var(--font2);
    font-size: 1.3em;
    box-shadow: inset 0 0 15px;
    cursor: pointer;
}
.form-conteiner {
    display: none;
    position: absolute;
    top: 70em;
    margin-left: 5.8em;
    margin-right: 7em;
    text-align: center;
    width: fit-content;
    max-width: 550px;
    height: fit-content;
    padding: 8px;
    background-color: lightblue;
    cursor: pointer;
}
.form-conteiner form {
    width: 500px;
    height: 200px;
    padding: 10px;
}
.form-conteiner input {
    width: 206px;
    margin: 20px auto;
    padding: 5px;
    font-size: 1.2em;
    font-family: var(--font1);
}
.form-conteiner button {
    padding: 10px 30px;
    font-size: 1.1em;
    font-family: var(--font2);
    border: none;
    border-radius: 4px;
    color: snow;
    box-shadow: 0 0 15px lightgreen;
    background-color: rgba(37, 141, 37, 0.808);
    margin: 30px 0 -2px 0;
}
#caixa {
    display: block;
    margin: auto;
    width: 430px;
    max-width: 500px;
    font-size: 1.1em;
    font-family: var(--font1);
    padding: 5px ;
}
footer {
    background-color: rgba(63, 19, 19, 0.493);
    font-size: 15px;
    color: var(--cor2);
    font-family: var(--font4);
    margin-top: 5px;
    padding: 5px 10px;
    border-radius:0 0 4px 4px;
    text-align: right;
}
@keyframes chegar {
    0% {
        opacity: 0;
        transform: translate(4em, 13em);
    }
    3% {
        opacity: 0;
    }
    10% {
        opacity: 1;
        transform: translate(0, 0);
    }
    80% {
        opacity: 1;
    }
    85% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes aparecerrapido {
    0% {
        opacity: 0;
    }
    17% {
        opacity: 0;
    }
    22% {
        opacity: 1;
    }
    88% {
        opacity: 1;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes aparecerfacil {
    0% {
        opacity: 0;
    }
    27% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
 }

@keyframes chegarsem {
    0% {
        opacity: 0;
        transform: translate(4em, -13em);
    }
    35% {
        transform: translate(4em, -13em);
    }
    38% {
        opacity: 0;
    }
    45% {
        opacity: 1;
        transform: translate(0, 0);
    }
    90% {
        opacity: 1;
    }
    97% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 400px) {
    body {
        height: fit-content;
        max-width: 360px;
        min-height: 466px;
        margin: auto;
        box-shadow: 0 0 15px;
        border-radius: 4px;
    }
    .logo {
        width: 80px;
        position: absolute;
        float: left;
        transform: translate(0.8rem, 2.2rem);
    }
    #menulateral {
        position: relative; 
        float: right;
        background-color: transparent;
        border-color: transparent;
        margin-right: 10px;
        font-size: 1.8rem;
        font-weight: bold;
        color: var(--cor5); 
        cursor: pointer;
    }
    #fecharbotao { 
        position: relative;
        float: right;
        background-color: transparent; 
        border-color: transparent;
        margin-right: 10px;
        margin-left: -0.01rem;
        top: 6px;
        font-size: 1.6rem;
        font-weight: bold;
        color: var(--cor5);
        cursor: pointer;
    }
    .lista_escolha {
        position: absolute;
        right: 2rem;
        top: 2.5rem;
        width: max-content;
        font-family: var(--font1);
        font-size: 1.2rem;
        list-style-type: none;
        background-color: rgba(43, 46, 46, 0.479);
        padding: 0.6em;
        border-radius: 7px;
        box-shadow: inset 0 0 10px rgba(102, 178, 226, 0.658);
    }
    main {
        height: 710px;
        margin-bottom: 10px;
    }
    h1 {
        height: 2rem;
        color:hsl(212, 83%, 50%);
        background-color: rgba(0, 0, 0, 0.178);
        font-family: var(--font2);
        text-align: center;
        padding-top: 1.7rem;
        padding-bottom: 3rem;
        padding-left: 30px;
        font-size: 1.6em;
    }
    #stones {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 710px;
    }
    header h2 {
        font-size: 0.9rem;
        color: rgb(60, 63, 32);
        background-color: var(--cor1);
        font-family: var(--font2);
        padding: 14px 0;
        text-align: center;
    }
    .bloco1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        align-content: space-around;
        margin: auto;
        border-radius: 10px;
        background-color: #1e1f0e6b;
        width: 99%;
        height: 350px;
        margin-top: 1rem;
        margin-bottom: 3rem;
        padding-top: 1.5rem;
    }
    .bloco1 img {
        width: 60px;
        height: 60px;
    }
    .ac1 {
        background-color: hsla(89, 48%, 78%, 0.808);
        text-align: center;
        color: hsl(188, 33%, 19%);
        font-family: var(--font2);
        font-size: 1.2rem;
        padding: 14px 5px;
    }
    .d1 {
        display: flex;
        justify-content: end;
        padding-right: 0.8rem;
        cursor: pointer;
    }
    .d1 p {
        font-family: var(--font1);
        text-align: end;
        color: #fff;
        margin: 0 10px;
    }
    .d2 {
        display: flex;
        justify-content: start;
        padding-left: 0.8rem;
        cursor: pointer;
    }
    .d2 p {
        font-family: var(--font1);
        color: #fff;
        margin: 0 10px;
    }
    .aviso {
        display: none;
        font-family: var(--font3);
        position: absolute;
        height: 240px;
        top: 11rem;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 10px;
        text-align: center;
        padding: 20px 30px;
        width: fit-content;
        max-width: 260px;
        background-color: hsla(323, 30%, 80%, 0.837);
        box-shadow:  0 0 700px rgb(0, 0, 0);
        cursor: pointer;
    }
    .aviso img {
        position: relative;
        top: -1em;
        width: 100px;
    }
    .avisozap {
        display: none;
        font-family: var(--font3);
        position: absolute;
        height: 240px;
        margin-left: 5%;
        margin-right: 5%;
        top: 11rem;
        border-radius: 10px;
        text-align: center;
        padding: 20px 30px;
        width: fit-content;
        max-width: 260px;
        background-color: hsla(110, 60%, 59%, 0.877);
        box-shadow:  0 0 700px rgb(0, 0, 0);
        cursor: pointer;
    }
    .avisozap img {
        position: absolute;
        top: 7.5em;
        left: 25%;
        width: 150px;
    }
}
